<div class="row">
    <div class="col-xs-12 fullWidth">
        <img class="fullWidth" src="https://prowebservicehost.com/sites/clampitt/images/75th-banner.jpg" />
    </div>
    <div class="col-xs-12 fullWidth pad-top-20">
        <a class="fullWidth" href="campaign"><img class="fullWidth" src="https://prowebservicehost.com/sites/clampitt/images/marketingcampaign.jpg" /></a>
    </div>
    <br />
    <div class="col-xs-12 fullWidth pad-top-20">
        <a class="fullWidth" href="#"><img class="fullWidth" src="https://prowebservicehost.com/sites/clampitt/images/stats.jpg" /></a>
    </div>
    <br />
    <div class="col-xs-12 fullWidth pad-top-20">
        <a class="fullWidth" href="catalog/clampitt-products"><img class="fullWidth" src="https://prowebservicehost.com/sites/clampitt/images/products.jpg" /></a>
    </div>
    <div class="col-xs-12 fullWidth img-center aligncenter pad-20">
        <a class="freeRangeBig glt-font" href="#"><i class="fa fa-arrow-circle-o-right"></i> FAQ</a><a class="freeRangeBig glt-font freeRangeLeftPadding" href="mailto:paperinfo@glatfelter.com"><i class="fa fa-arrow-circle-o-right"></i> Email paperinfo@glatfelter.com</a> 
    </div>
</div>