<header class="header navbar navbar-inner">
    <nav tolerance='20' offset='200' class="navbar navbar-default" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                        <a href back-step class="back">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </li>
                    <li class="products" ng-class="{'active': isInPath('landing') || isInPath('landing') || isInPath('cart/default')}">
                        <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="landing">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">{{'Home' | rc}}</span>
                        </a>
                    </li>
                    <li class="order" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
                        <a id="451qa_order_link" href="order">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">{{'Orders' | r}}</span>
                        </a>
                    </li>
                    <li class="report" ng-show="user.Permissions.contains('AdvancedReporting')" ng-class="{'active': isActive('reports'), 'active-xs': isActive('reports')}">
                        <a id="451qa_order_link" href="reports">
                            <i class="fa fa-clipboard"></i>
                            <span class="hidden-xs">{{'Reports' | r}}</span>
                        </a>
                    </li>
                    <li class="favorites hidden-xs" ng-class="{'active': isActive('cart')}">
                        <a id="451qa_cont_link" href="cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="hidden-xs">{{'View Cart' | r}}</span>
                        </a>
                    </li>	   				
                    <li class="favorites hidden-xs" ng-class="{'active': isActive('search')}">
                        <a id="451qa_cont_link" href="search">
                            <i class="fa fa-search"></i>
                            <span class="hidden-xs">Search</span>
                        </a>
                    </li>
                    <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message'])}">
                        <a id="451qa_acct_link" href="admin" class="hidden-md hidden-lg">
                            <i class="fa fa-cog"></i>
                            <span class="hidden-xs">{{'Account' | r}}</span>
                        </a>
                    </li>
                    <li class="dropdown admin-user visible-md visible-lg">
                        <a href="#" class="451_btn_logout" ng-click="Logout()">
                                    <i class="fa fa-power-off text-danger"></i>
                                    <span>{{'Log Out' | r}}</span>
                        </a>
                    </li>  
            </div>
        </section>
    </nav>
</header>